.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100vh;
    height: 30vh;
    margin-top: 14vh;
}

ion-icon {
        font-size: 100px; //Preferred size here
    }

    .play{

   margin-left: 7vh;
    margin-right: 7vh;
    }