<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Donaciones
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
     <ion-row>
      <ion-col><img class="center" src="https://radioamanecer1025fm.com/assets/images/logo.png" height="100" /></ion-col>
    </ion-row>
 <ion-row>
 <ion-text class="tex">
        <h4>Lucas 6:38:Dad, y se os dará; medida buena, apretada, remecida y rebosando..</h4>
      </ion-text>
      </ion-row>

      <ion-item>
          <ion-thumbnail slot="end">
            <img src="https://s3.cointelegraph.com/storage/uploads/view/3278bdc14c74dd4e85732b776d0e5b1d.png">
          </ion-thumbnail>
          <ion-label>Paypal</ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="end">
            <img src="https://img2.freepng.es/20180203/hye/kisspng-wire-transfer-payment-bank-electronic-funds-transf-bank-png-image-5a75bc97c13fe2.7275117515176654317916.jpg">
          </ion-thumbnail>
          <ion-label>
            <ion-label>Transferencia Bancaria</ion-label>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="end">
            <img src="https://i.blogs.es/d99c32/new_logo_gmail.svg/1366_2000.png">
          </ion-thumbnail>
           <ion-label>Enviar un Correo</ion-label>
        </ion-item>


</ion-content>

